

/**
 * @var {color}
 * @name Green
 * @description A nice, clean green
 */
$color-green: green;

/**
 * @var {color}
 * @group secondary
 * @description
 * A ocean like, crisp blue
 */
$color-blue: blue;

/**
 * @ignore
 */
$not-documented: true;