{% if classes %}{% endif %}
{% if classes|markup %}{% endif %}
{% if classes|empty %}{% endif %}
{% if classes|notempty %}{% endif %}
{% if model.headline|empty or mode.copy|notempty %}{% endif %}
{% if model.headline|notempty or (model.subline|notempty and model.type == 'teaser') %}{% endif %}
