{% if classes %}{% endif %}
{% if classes|markup %}{% endif %}
{% if not model.headline or mode.copy %}{% endif %}
{% if '' != model.headline or ('' != model.subline and model.type == 'teaser') %}{% endif %}
