{##
    @param {CMTeasable} [model]
	@param {Enumeration} type
		s
		m
		l
	@param {String} class - Adds a custom class to the gallery root element
#}
{% macro m002_teaser(
        model=false,
		type='',
		class='') %}
    {% set moduleClass = 'm002-teaser' %}
	<div class="{{ moduleClass }} {{ type }} {{ class }}">
        {{ m002_teaser_image() }}
	</div>
{%  endmacro %}


{% macro m002_teaser_image(
        model=false,
        type='',
        class='') %}
    {% set moduleClass = 'm002-teaserimage' %}
    <div class="{{ moduleClass }} {{ type }} {{ class }}">
    </div>
{%  endmacro %}
