<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <title>Entoj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body class="t001-default {% block bodyClass %}{% endblock %}">
        {% block content %}{% endblock %}
    </body>
</html>
