{##
    Renders a cta button

    @param {Enumeration} type
        primary - Primary (Default)
        secondary - Secondary
    @param {Enumeration} size - Controls the button size
        s - Small
        m - Medium (Default)
        l - Large
    @param {Bool} dark - Controls if the button should work on dark backgrounds
    @param {Object} model.text
    @param {Object} model.icon
    @param {String} classes - Additonal css classes that are added to the root element
#}
{% macro e005_button(type='primary', dark=false, size='m', model=false, classes='') %}
    <div class="e005-button {{class}}">
    </div>
{% endmacro %}
