{# Requirements #}

{##
	Renders a button of the given type, size and/or icon
#}
{% macro e005_button(
		text=false,
		type=false,
		kind=false,
		size=false,
		icon=false,
		image=false,
		iconPosition=false,
		href=false,
		target=false,
		class=false,
		data=false,
		title=false,
		dataText=false,
		separated=false,
		tracking=false) %}
    <div class="e005-button {{class}}">
    </div>
{% endmacro %}