{% if model.headline and model.copy or not model.headline %}{% endif %}
{% if '' != model.headline %}{% endif %}
{% if '' == model.headline %}{% endif %}
{% if model.headline != ''  %}{% endif %}
{% if model.headline == '' %}{% endif %}
{% if model.headline %}{% endif %}
{% if not model.headline %}{% endif %}
{% if model.headline|notempty %}{% endif %}
{% if model.headline|empty %}{% endif %}
{% if model.headline == model.copy %}{% endif %}
{% if model.headline == false %}{% endif %}
