{% if '' != model.headline %}{% endif %}
{% if '' == model.headline %}{% endif %}
{% if model.headline != ''  %}{% endif %}
{% if model.headline == '' %}{% endif %}
{% if model.headline %}{% endif %}
{% if not model.headline %}{% endif %}
{% if model.headline|notempty %}{% endif %}
{% if model.headline|empty %}{% endif %}


{{ simple(classes=moduleName + '__check') }}
{% set variable = model.headline + '-teaser' %}
{% set strings = 'class' + '-teaser' %}
{% set multiple = 'class' + '-teaser' + model.headline + 'yes' %}


{% if '' != model.headline %}{% endif %} => not empty headline
{% if '' == model.headline %}{% endif %}
{% if model.headline != ''  %}{% endif %}
{% if model.headline == '' %}{% endif %}
{% if model.headline %}{% endif %}
{% if not model.headline %}{% endif %}
{% if model.headline|notempty %}{% endif %}
{% if model.headline|empty %}{% endif %}
