{##
	@description
	Renders a gallery and bootstraps the corresponding JavaScript API.

	@param {Enumeration} type
		default
		xxl
		hero
	@param {Enumeration} paginationMode
		graphical - displays a simple graphical page indicator
		none - displays no page indicator
	@param {String} class - Adds a custom class to the gallery root element
#}

{% macro m001_gallery(
		type=false,
		paginationMode='graphical',
		class=false,
        undocumented='undocumented') %}

	<div class="m001-gallery {{class}}" data-type="{{ type }}" data-paginationmode="{{ paginationMode }}">
		<div class="m001-gallery-controls">
			{% if paginationMode == 'graphical' %}
				<ol class="m001-gallery-pagination js-m001-gallery-pagination"><li class="m001-gallery-page"></li></ol>
			{% endif %}
			<div class="m001-gallery-next js-m001-gallery-next"></div>
			<div class="m001-gallery-prev js-m001-gallery-prev"></div>
		</div>
		<div class="m001-gallery-stage">
			<div class="m001-gallery-slides js-m001-gallery-slides">
				{% if caller %}
					{{ caller() }}
				{% endif %}
			</div>
		</div>
	</div>
{%  endmacro %}


{% macro m001_gallery_internal(
        type=false,
        paginationMode='graphical',
        class=false,
        isContentBox=false) %}
{%  endmacro %}
